# bools
set autoindent
set historylog
set linenumbers
set stateflags
set tabstospaces

# args
set functioncolor lightmagenta
set keycolor bold,red
set numbercolor bold,magenta
set tabsize 4
set titlecolor bold,red,black
